body.fastfood {
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.shopify.com/s/files/1/0012/8063/9049/files/2_61f7a2e5-3bbf-4fa0-b5e3-0de541aa5e52.jpg?v=1694419428);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }