body.forms {
    margin: 0;
    padding: 0;
    background-image: url(https://craftersvinylsupply.com/cdn/shop/products/crafter-s-vinyl-supply-cut-vinyl-orajet-3651-12-x-12-yellow-notebook-paper-pattern-vinyl-and-htv-crafters-vinyl-supply-2516335624280_800x.jpg?v=1566787063);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}